<?xml version="1.0" encoding="UTF-8"?>
<suite name="hod">
    <test name="test" enabled="true">
       <classes>
        <class name="testcases.TestClass"/>
       </classes>

        <listeners>
          <listener class-name="org.uncommons.reportng.HTMLReporter"/>
          <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        </listeners>
    </test>
</suite>

